<div class="row p-0 m-0 main">
    <div class="custom-container">
        <div class="heading">
            Add Book
        </div>
        <div class="row col-12 p-0 m-0 inner-main">
            <div class="row col-12 p-0 m-0 form-main">
                <div class="col-4 input-text">Title</div>
                <div class="col-8"><input type="text" class="input-custom"></div>
            </div>
            <div class="row col-12 p-0 m-0 form-main">
                <div class="col-4 input-text">Description</div>
                <div class="col-8"><textarea class="input-custom"></textarea></div>
            </div>
            <div class="row col-12 p-0 m-0 form-main">
                <div class="col-4 input-text">Author</div>
                <div class="col-8"><input type="text" class="input-custom"></div>
            </div>
            <div class="row col-12 p-0 m-0 form-main">
                <div class="col-4 input-text">Category</div>
                <div class="col-8"><input type="text" class="input-custom"></div>
            </div>
            <div class="row col-12 p-0 m-0 form-main">
                <div class="col-4 input-text">Price</div>
                <div class="col-8"><input type="text" class="input-custom"></div>
            </div>
            <div class="row col-12 p-0 m-0 form-main">
                <div class="col-4 input-text">Editon</div>
                <div class="col-8"><input type="text" class="input-custom"></div>
            </div>
            <div class="row col-12 p-0 m-0 form-main">
                <div class="col-4 input-text">Image</div>
                <div class="col-8"><input type="file" class="input-custom"></div>
            </div>
            <div class="row col-12 p-0 m-0 form-main">
                <div class="col-4"></div>
                <div class="col-12 col-sm-8 submit-main">
                    <button class="add-button button-custom btn-lg">Add</button>
                    <button class="cancel-button button-custom btn-lg">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>