<div class="row p-0 m-0 category-page-slider-wrapper">
    <div class="custom-container">
        <app-category-slider></app-category-slider>
    </div>
</div>
<div class="row p-0 m-0 category-main">
    <div class="custom-container">
        <div class="row p-0 m-0 custom-card">
            <div class="category-heading">
                <div class="category-heading-number display-inline">
                    Showing
                </div>
                <div class="category-heading-name display-inline">
                    category {{categoryName}}
                </div>
                <div class="category-heading-number display-inline">
                    1 to 6 of {{categoryNumber}}
                </div>
            </div>
            <div class="category-card">
                <app-book-card class="book book-card-link"></app-book-card>
                <app-book-card class="book book-card-link"></app-book-card>
                <app-book-card class="book book-card-link"></app-book-card>
                <app-book-card class="book book-card-link"></app-book-card>
                <app-book-card class="book book-card-link"></app-book-card>
                <app-book-card class="book book-card-link"></app-book-card>
            </div>
        </div>
    </div>
</div>