<div class="row p-0 m-0 category-page-slider-wrapper">
    <div class="container">
        <app-category-slider></app-category-slider>
    </div>
</div>
<div class="row p-0 m-0 category-main">
    <div class="container">
        <div class="row p-0 m-0 custom-card">
            <div class="category-heading">
                <div class="category-heading-number display-inline">
                    Showing
                </div>
                <div class="category-heading-name display-inline">
                    category {{categoryName}}
                </div>
                <div class="category-heading-number display-inline">
                    | {{bookList.length}} books
                </div>
            </div>
            <div class="category-card col-12 row p-0 m-0">
                <ng-container *ngIf="bookList.length != 0">
                    <ng-container *ngFor="let book of bookList">
                        <app-book-card [book]="book" class="col-10 col-sm-6 col-md-3 book book-card-link"></app-book-card>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="bookList.length == 0">
                    <div class="col-12 p-0 m-0 text-center">
                        <h5 class="p-3">
                            No books available.
                        </h5>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>