.category-main {
  padding-bottom: 100px !important;
}
.category-card {
  // display: grid;
  // grid-template-columns: 33% 33% 33%;
  display: flex;
  justify-content: flex-start;
}
.book {
  margin: 25px;
}
.category-heading {
  padding-left: 25px;
}
.display-inline {
  display: inline-block;
}
.category-heading-name {
  padding: 0 10px;
  font-size: 1.5rem;
}
.book-card-link {
  cursor: pointer;
  margin: 10px 0px 15px 0px !important;
}
@media (max-width: 1300px) {
  .category-card {
    grid-template-columns: auto auto !important;
  }
}
@media (max-width: 992px) {
  .category-card {
    grid-template-columns: auto !important;
  }
}
@media (max-width: 576px) {
  .category-card {
    justify-content: center !important;
    margin: 0px !important;
  }
}
@media (max-width: 510px) {
  .category-card {
    grid-template-columns: auto !important;
  }
  .category-heading-name {
    padding: 2px !important;
  }
}
