<div class="row p-0 m-0 main">
    <div class="custom-container">
        <div class="heading">
            Edit Book
        </div>
        <div *ngIf="bookList.length !== 0" class="row col-12 p-0 m-0 inner-main">
            <div class="table-responsive table-responsive-sm table-responsive-md table-responsive-lg table-wrapper">
                <table datatable [dtOptions]="dtOptions" class="row-border hover">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Edition
                            </th>
                            <th>
                                Author
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let bookObj of bookList; let i = index;">
                            <td>
                                {{i+1}}
                            </td>
                            <td>
                                {{bookObj['title']}}
                            </td>
                            <td>
                                {{bookObj['edition']}}
                            </td>
                            <td>
                                {{bookObj['author']}}
                            </td>
                            <td>
                                {{bookObj['price']}}
                            </td>
                            <td>
                                {{bookObj['category']}}
                            </td>
                            <td>
                                <fa-icon [icon]="faPencilAlt" (click)="openEditModal(i, editModal)" class="action-icon"></fa-icon>
                                <fa-icon [icon]="faTrash" (click)="openDeleteModal(i, deleteModal)" class="action-icon"></fa-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #editModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="title">Edit Book</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="title">Title</label>
            <div class="input-group">
                <input id="title" [(ngModel)]="book['title']" class="form-control" placeholder="title">
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <div class="input-group">
                <textarea id="description" [(ngModel)]="book['description']" class="form-control" placeholder="description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <div class="input-group">
                <div class="dropdown-wrapper">
                    <angular2-multiselect [(ngModel)]="book['author']" [data]="dropdownOptions['author']" [settings]="dropdownSettingsList[0]"
                        class="input-custom"></angular2-multiselect>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="categoryname">Category</label>
            <div class="input-group">
                <div class="dropdown-wrapper">
                    <angular2-multiselect [(ngModel)]="book['category']" [data]="dropdownOptions['category']"
                        [settings]="dropdownSettingsList[1]" class="input-custom"></angular2-multiselect>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <div class="input-group">
                <input id="price" type="number" [(ngModel)]="book['price']" class="form-control" placeholder="price">
            </div>
        </div>
        <div class="form-group">
            <label for="edition">Edition</label>
            <div class="input-group">
                <input id="edition" [(ngModel)]="book['edition']" class="form-control" placeholder="edition">
            </div>
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <div class="input-group">
                <input id="image" (change)="selectedFile($event)" type="file" class="form-control">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="editBook()">Update</button>
        <button type="button" class="btn btn-danger" (click)="modal.close()">Cancel</button>
    </div>
</ng-template>

<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="title">Delete {{book['title']}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            Do you want to delete this book?
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="deleteBook()">Delete</button>
        <button type="button" class="btn btn-danger" (click)="modal.close()">Cancel</button>
    </div>
</ng-template>