.main {
  background-color: rgba(220, 220, 220, 0.25);
}
.heading {
  font-size: 30px;
  color: #1c1919;
  padding-top: 25px;
}
.table-wrapper {
  overflow: scroll !important;
}
.action-icon {
  margin-right: 10px !important;
  cursor: pointer;
}
