.search-main {
  margin-bottom: 100px !important;
}
.search-result {
  font-size: 20px;
  margin-left: 10px !important;
}
.search-card {
  display: grid;
  grid-template-columns: auto auto auto;
}
.book {
  margin: 25px;
}
.book-card-link {
  cursor: pointer;
}
.card-main {
  width: 100%;
}
