.search-main {
  margin-bottom: 100px !important;
}
.search-category-slider {
  width: 100%;
}
.search-result {
  font-size: 20px;
  margin-left: 10px !important;
}
.search-card {
  display: flex;
  justify-content: flex-start;
}
.book {
  margin: 25px;
}
.book-card-link {
  cursor: pointer;
  margin: 10px 0px 15px 0px !important;
}
.card-main {
  width: 100%;
  margin-bottom: 50px !important;
}
.search-heading-name {
  padding: 0 10px;
  font-size: 1.5rem;
}
.display-inline {
  display: inline-block;
}
.search-heading {
  padding-left: 25px;
}
.no-result {
  width: 100%;
}
@media (max-width: 1300px) {
  .search-card {
    grid-template-columns: auto auto !important;
  }
}
@media (max-width: 992px) {
  .search-card {
    grid-template-columns: auto !important;
  }
}
@media (max-width: 576px) {
  .search-card {
    justify-content: center !important;
    margin: 0px !important;
  }
}
@media (max-width: 510px) {
  .search-card {
    grid-template-columns: auto !important;
  }
  .search-heading-name {
    padding: 2px !important;
  }
}
