<div class="row p-0 m-0 tabs-main">
    <ul class="tabs-list p-0 m-0">
        <li class="tab-item">
            <button class="tab-item-button" (click)="selectTab(0)" [ngClass]="{'tab-item-button-selected': tabSelected == 0}">
                Add Book
            </button>
        </li>
        <li class="tab-item">
            <button class="tab-item-button" (click)="selectTab(1)" [ngClass]="{'tab-item-button-selected': tabSelected == 1}">
                Add Author
            </button>
        </li>
        <li class="tab-item">
            <button class="tab-item-button" (click)="selectTab(2)" [ngClass]="{'tab-item-button-selected': tabSelected == 2}">
                Add Category
            </button>
        </li>
    </ul>
</div>
<div class="row p-0 m-0 add-book-main" *ngIf="tabSelected == 0">
    <app-dashboard-add-book class="add-book-component"></app-dashboard-add-book>
</div>
<div class="row p-0 m-0 add-author-main" *ngIf="tabSelected == 1">
    <app-dashboard-add-author class="add-author-component"></app-dashboard-add-author>
</div>
<div class="row p-0 m-0 add-category-main" *ngIf="tabSelected == 2">
    <app-dashboard-add-category class="add-category-component"></app-dashboard-add-category>
</div>