.book-card-main {
  width: 100%;
  margin-bottom: 30px !important;
}
.heading-card {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  // margin-bottom: 50px !important;
  margin-bottom: 10px !important;
}
.heading {
  font-size: 40px;
  color: #707070;
  padding-left: 50px !important;
  font-family: DidactGothic;
}
.slider-card {
  width: 100%;
  margin: 0 25px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-card-main {
  padding: 50px !important;
}
.book-card-link {
  cursor: pointer;
  transition: 0.7s;
}
// slider css
.slider-buttons-main {
  width: 88%;
  display: inline-block;
  position: absolute;
}
.slider-button-left-main {
  display: inline-block;
  width: 79px;
  height: 64px;
  border-radius: 3px;
  background-color: #a29b9b;
}
.slider-button-right-main {
  float: right;
  width: 79px;
  height: 64px;
  border-radius: 3px;
  background-color: #a29b9b;
}
.arrow-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.8rem;
}
// slider css ends
@media (max-width: 576px) {
  .heading {
    padding-left: 25px !important;
    font-size: 25px !important;
  }
  .slider-buttons-main {
    width: 100% !important;
  }
  .slider-button-left-main {
    width: 34px !important;
  }
  .slider-button-right-main {
    width: 34px !important;
  }
}
