.pagenotfound-main {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
}
.pagenotfound-card {
  width: 960px;
  margin-top: 60px !important;
  height: 583px;
}
.pagenotfound-404 {
  font-size: 180px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: DidactGothic;
  color: #34e7e4;
}
.pagenotfound-haeding {
  font-size: 65px;
  word-break: break-all;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: DidactGothic;
}
.card-icon {
  font-size: 80px;
}
.pagenotfound-icon {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width:982px) {
  .pagenotfound-404 {
    font-size: 144px;
  }
  .pagenotfound-card {
    width: 619px;
    height: 471px;
    margin-top: 80px !important;
  }
 .pagenotfound-haeding{
     font-size: 55px;
 }
}
@media (max-width:768px) {
  .pagenotfound-404 {
    font-size: 100px;
  }
  .pagenotfound-card {
    width: 446px;
    height: 410px;
    margin-top: 100px !important;
  }
 .pagenotfound-haeding{
     font-size: 45px;
 }
}
