.pagenotfound-main {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
}
.pagenotfound-card {
  width: 960px;
  margin-top: 60px !important;
  height: 583px;
}
.pagenotfound-404 {
  font-size: 180px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: DidactGothic;
  color: #34e7e4;
}
.pagenotfound-haeding {
  font-size: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: DidactGothic;
}
.card-icon {
  font-size: 80px;
}
.pagenotfound-icon {
  width: 100%;
  display: flex;
  justify-content: center;
}
