.dashboard-main {
  background-color: #ffffff;
}
.dashboard-heading {
  padding-top: 50px;
  padding-bottom: 15px;
  font-size: 4.0625rem;
}
.dashboard-sub-heading {
  font-size: 3rem;
}
.dashboard-icon {
  padding-left: 10px;
}
.tabs-main {
  border-bottom: 1px solid grey;
}
.tabs-list {
  text-align: center;
  list-style: none;
  .tab-item {
    display: inline-block;
  }
  .tab-item-button {
    color: #ffffff;
    background-color: rgba(128, 128, 128, 0.76);
    opacity: 0.5;
    width: 127.1px;
    height: 48px;
    outline: 0;
    border-radius: 0px 10px;
  }
  .tab-item-button-selected {
    background-color: #000000 !important;
  }
}
.tabs-secondary {
  width: 100%;
  border-bottom: 1px solid grey;
  padding-top: 30px !important;
}
@media (max-width: 1200px) {
  .dashboard-heading {
    font-size: 3rem;
  }
  .dashboard-sub-heading {
    font-size: 1.5rem;
  }
}
@media (max-width: 666px) {
  .dashboard-heading {
    font-size: 1.5rem;
  }
  .dashboard-sub-heading {
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  .dashboard-sub-heading {
    display: none;
  }
  .tab-item-button {
    width: 100px !important;
  }
}
