<div class="row p-0 m-0 book-store-main">
    <div class="custom-container">
        <div class="custom-card row p-0 m-0 book-store-heading">
            Book store
        </div>
        <div class="custom-cantaine book-card-store p-0 m-0">
            <app-books-card-slider class="book-card-store"></app-books-card-slider>
            <app-books-card-slider class="book-card-store"></app-books-card-slider>
            <app-books-card-slider class="book-card-store"></app-books-card-slider>
        </div>
    </div>
</div>