<div class="row p-0 m-0 featured-book-main">
    <div class="col-12 p-0 m-0 custom-card featured-book-wrapper">
        <img (click)="reRoute('user/home')" src="assets/img/book.png" class="image-book">
    </div>
    <div class="col-6 p-0 m-0 book-details">
        <div class="book-page-title row p-0 m-0">
            {{title}}<br>
        </div>
        <div class="book-page-price row p-0 m-0">
            {{price}}<br>
        </div>
        <div class="book-page-author row p-0 m-0">
            {{author}}<br>
        </div>
        <div class="book-page-category row p-0 m-0">
            Category: {{category}}<br>
        </div>
        <div class="book-page-language row p-0 m-0">
            Language: {{language}}<br>
        </div>
        <div class="book-page-edition row p-0 m-0">
            Edition: {{edition}}<br>
        </div>
        <div class="book-page-publisher row p-0 m-0">
            Publisher: {{publisher}}<br>
        </div>
        <div class="book-page-about-heading row p-0 m-0">
            About the book<br>
        </div>
        <div class="book-page-about-content row p-0 m-0">
            {{content}}<br>
        </div>
    </div>
</div>