.featured-book-main {
  margin-bottom: 30px !important;
}
.featured-book-heading {
  font-size: 40px;
  color: #707070;
  padding-left: 50px !important;
  font-family: DidactGothic;
  padding-bottom: 10px !important;
}
.featured-book-wrapper {
  cursor: pointer;
  // width: 100%;
  // margin: 0 25px !important;
}
.featured-book {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-book {
  padding: 10px;
}
.book-details {
  font-family: DidactGothic;
  color: #707070;
  margin-top: 20px !important;
  padding: 0 20px !important;
}
.book-page-title {
  padding-bottom: 20px !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
.book-page-edition {
  padding-bottom: 20px !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
