<div class="row p-0 m-0 featured-book-main">
    <div class="col-12 row p-0 m-0 custom-card featured-book-wrapper">
        <div class="col-6 row p-0 m-0 featured-book">
            <img (click)="reRoute('user/home')" src="assets/img/book.png" class="image-book">
        </div>
        <div class="col-6 p-0 m-0 book-details">
            <div class="book-page-title row p-0 m-0">
                Title: {{title}}<br>
            </div>
            <div class="book-page-price row p-0 m-0">
                Price: {{price}}<br>
            </div>
            <div class="book-page-author row p-0 m-0">
                Author: {{author}}<br>
            </div>
            <div class="book-page-edition row p-0 m-0">
                Edition: {{edition}}<br>
            </div>
            <div class="book-page-about-heading row p-0 m-0">
                About the book: {{content}}<br>
            </div>
        </div>
    </div>
</div>