<div class="row p-0 m-0 header-top-main">
    <div class="custom-container malayalam">
        പ്രസാധനരംഗത്തെ പെൺകൂട്ടായ്മ
    </div>
</div>
<div class="row p-0 m-0 header-main">
    <div class="custom-container">
        <div class=" row p-0 m-0 col-12 regular-header-main">
            <div class="col-4 p-0 logo-main">
                <img (click)="reRoute('user/home')" src="assets/img/logosec.PNG" class="header-logo" alt="logo image">
            </div>
            <div class="col-8 navs p-0">
                <div class=" row p-0 m-0 ">
                    <div class=" col-3 header-btn" (click)="reRoute('user/home')"><span class="nav-item-link">Home</span></div>
                    <div class=" col-3 header-btn" (click)="reRoute('user/about')"><span class="nav-item-link">About</span></div>
                    <div class=" col-3 header-btn" (click)="reRoute('user/bookstore')"><span class="nav-item-link">Book-Store</span></div>
                    <div class=" col-3 header-btn" (click)="reRoute('user/contact')"><span class="nav-item-link">Contact</span></div>
                </div>
                <div class="col-12 row p-0 m-0">
                    <div class="col-9 p-0 m-0">
                        <input type="text" [(ngModel)]="searchKeyword" placeholder="Search"
                            class="search-bar">
                    </div>
                    <div class="col-3 p-0 m-0">
                        <button class="search-btn" (click)="search()">Search</button>
                    </div>
                </div>
            </div>
            <div class="col-8 nav-bars-icon-wrapper">
                <fa-icon (click)="responsiveHeader()" class="bars-icon" [icon]="faBars"></fa-icon>
            </div>
        </div>
        <div class="row col-12 p-0 m-0 header-responsive" [ngClass]="{'show-responsive-header': headerresponsivestatus}">
            <div class="text-center col-12 nav-items" (click)="reRoute('user/home')">Home</div>
            <div class="text-center col-12 nav-items" (click)="reRoute('user/about')">About</div>
            <div class="text-center col-12 nav-items" (click)="reRoute('user/bookstore')">Book-store</div>
            <div class="text-center col-12 nav-items" (click)="reRoute('user/contact')">Contact</div>
        </div>
        <div class="col-12 row p-0 m-0 responsive-nav-icon-wrapper search-bar-one">
            <div class="col-9 p-0 m-0">
                <input type="text" [(ngModel)]="searchKeyword" placeholder="Search" class="search-bar s-barone">
            </div>
            <div class="col-3 p-0 m-0">
                <button class="search-btn s-barone" (click)="search()">
                    <fa-icon class="search-icon" [icon]="faSearch"></fa-icon>
                </button>
            </div>
        </div>
        <div class="col-12 row p-0 m-0 responsive-nav-icon-wrapper search-bar-two">
            <div class="col-md-9 p-0 m-0">
                <input type="text" [(ngModel)]="searchKeyword" placeholder="Search" class="search-bar s-bartwo">
            </div>
            <div class="col-md-3 p-0 m-0" (click)="search()">
                <button class="search-btn s-bartwo">Search</button>
            </div>
        </div>
    </div>
</div>