.header-top-main {
  height: 50px;
  background-color: #34e7e4;
  color: #ffffff;
  display: flex;
  font-weight: 900;
  align-items: center;
  justify-content: center;
  font-size: 1.089rem;
}
.malayalam {
  text-align: center;
}
.regular-header-main {
  padding-bottom: 50px !important;
}
.header-logo {
  height: 220px;
  cursor: pointer;
}
.header-btn {
  margin-top: 75px;
  font-family: DidactGothic;
  font-size: 1.6875rem;
}
.nav-item-link:hover {
  color: #34e7e4;
  cursor: pointer;
}
.search-btn {
  border: 0;
  box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.16);
  width: 100%;
  border-radius: 0 10px 10px 0;
  background-color: #34e7e4;
  height: 55px;
  margin-top: 44px;
  color: #ffffff;
  font-family: DidactGothic;
  font-size: 20px;
  outline: 0;
}
.search-bar {
  width: 100%;
  height: 55px;
  outline: 0;
  padding-left: 57px;
  font-size: 20px;
  margin-top: 44px;
  border: 0;
  border-radius: 10px 0 0 10px;
  color: #000000;
  box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.16);
}
.nav-bars-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 10px !important;
}
.responsive-nav-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-responsive {
  display: none;
  padding-bottom: 10px !important;
}
.nav-items {
  cursor: pointer;
  padding: 1.5px 0;
  font-family: DidactGothic;
  font-size: 1.5rem;
  color: #34e7e4;
}
.nav-items:hover {
  transition: all 0.25s cubic-bezier(0.37, 0.31, 0.2, 0.85);
  background-color: #34e7e4;
  color: #ffffff;
  cursor: pointer;
}
.bars-icon {
  cursor: pointer;
  font-size: 2.3rem;
  color: #34e7e4;
  border: 1px #34e7e4;
}
.s-barone {
  margin: 0 !important;
}
.s-bartwo {
  margin: 0 !important;
}
@media (max-width: 1200px) {
  .navs {
    display: none;
  }
  .header-logo {
    height: 110px;
  }
  .show-responsive-header {
    display: initial !important;
  }
  .regular-header-main {
    padding-bottom: 20px !important;
  }
  .search-bar-one {
    padding-bottom: 0px !important;
  }
  .search-bar-two {
    padding-bottom: 50px !important;
  }
}
@media (min-width: 1201px) {
  .nav-bars-icon-wrapper {
    display: none !important;
  }
  .responsive-nav-icon-wrapper {
    display: none;
  }
  .search-bar-one {
    padding-bottom: 50px !important;
  }
  .search-bar-two {
    padding-bottom: 0px !important;
  }
}
@media (max-width: 767px) {
  .s-bartwo {
    display: none;
  }
  .malayalam {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .s-barone {
    display: none;
  }
}
