<div class="row p-0 m-0 main">
    <div class="container">
        <div class="heading">
            Add Category
        </div>
        <div class="row col-12 p-0 m-0 inner-main">
            <div class="row col-12 p-0 m-0 form-main">
                <div class="col-4 input-text">Name</div>
                <div class="col-8"><input [(ngModel)]="categoryName" type="text" class="input-custom"></div>
            </div>
            <div class="row col-12 p-0 m-0 form-main">
                <div class="col-4"></div>
                <div class="col-8 submit-main">
                    <button (click)="addCategory()" class="add-button button-custom btn-lg">Add</button>
                    <button (click)="clear()" class="cancel-button button-custom btn-lg">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>