<div class="row p-0 m-0 contact-main">
    <div class="custom-container">
        <!-- <div class="col-12 p-0 m-0 map custom-card">
            <div>
                <ngui-map zoom="18" center="9.998590,76.296914" class="map-row-main">
                </ngui-map>
            </div>
        </div> -->
        <div class="col-12 row p-0 m-0 contact-wrapper">
            <div class="col-md-6 pl-0 left-card-wrapper">
                <div class="custom-card left-card">
                    <div class="left-card-inner-wrapper">
                        <div class="col-12 p-0 left-heading">
                            Contact Us
                        </div>
                        <div class="col-12 p-0 left-content">
                            Samatha Books<br>
                            Pratheeksha House,<br>
                            Pannimkulangara Lane,<br>
                            Ayyanthole, Thrissur - 03<br>
                            Kerala, India<br>
                            Ph - 0487 2366868<br>
                            Mob - +91 9447771946
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pr-0 right-card-wrapper">
                <div class="custom-card right-card">
                    <div class="right-card-inner-wrapper">
                        <div class="col-12 p-0 right-heading">
                            Keep in touch
                        </div>
                        <div class="col-12 p-0 right-content">
                            <div class="col-12 row p-0 m-0 form-items">
                                <div class="col-4 p-0 m-0 input-label">
                                    Name
                                </div>
                                <div class="col-8 p-0 m-0 input-form">
                                    <input type="text" class="search-bar">
                                </div>
                            </div>
                            <div class="col-12 row p-0 m-0 form-items">
                                <div class="col-4 p-0 m-0 input-label">
                                    Phone
                                </div>
                                <div class="col-8 p-0 m-0 input-form">
                                    <input type="text" class="search-bar">
                                </div>
                            </div>
                            <div class="col-12 row p-0 m-0 form-items">
                                <div class="col-4 p-0 m-0 input-label">
                                    E-mail
                                </div>
                                <div class="col-8 p-0 m-0 input-form">
                                    <input type="text" class="search-bar">
                                </div>
                            </div>
                            <div class="col-12 row p-0 m-0 form-items">
                                <div class="col-4 p-0 m-0 input-label">
                                    Message
                                </div>
                                <div class="col-8 p-0 m-0 input-form">
                                    <textarea type="text" class="search-bar"></textarea>
                                </div>
                            </div>
                            <div class="col-12 row p-0 m-0 button">
                                <button class="submit-btn">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>