.dashboard-sidebar-main {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.73);
}
.sidebar-logo {
  width: 100%;
  height: auto;
}
.nav-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  height: 77px;
  font-size: 1.25rem;
}
.nav-link:hover {
  background-color: rgba(128, 128, 128, 0.73) !important;
  cursor: pointer;
}
.nav-link-text {
  padding-left: 10px;
}
.nav-link-selected {
  background-color: rgba(128, 128, 128, 0.73) !important;
  border-right: 10px solid #5f5e5e;
}
@media (max-width: 992px) {
  .nav-link {
    font-size: 1rem;
  }
}
@media (max-width: 796px) {
  .nav-link {
    font-size: 1.5rem;
    justify-content: center;
  }
  .nav-link-text {
    display: none;
  }
}
