<div class="row p-0 m-0 login-main">
    <div class="row p-0 m-0 half-card"></div>
    <div class="col-sm-4 col-md-3 custom-card login-card">
        <div class="image-wrapper">
            <img disabled (click)="reRoute('user/home')" src="assets/img/logo1.PNG" class="login-logo">
        </div>
        <div class="row p-0 m-0 login-heading">
            Admin login
        </div>
        <div class="p-0 m-0 col-12 form-row">
            <div class="col-4 p-0 m-0 input-label">
                Username:
            </div>
            <div class="p-0 m-0 input-field">
                <input type="text" class="input-text">
            </div>
            <div class="col-4 p-0 m-0 input-label">
                Password:
            </div>
            <div class="p-0 m-0 input-field">
                <input type="password" class="input-text">
            </div>
        </div>
        <div class="col-12 row p-0 m-0 button">
            <button class="login-btn">Login</button>
        </div>
    </div>
</div>