<div class="row p-0 m-0 tabs-main">
    <ul class="tabs-list p-0 m-0">
        <li class="tab-item">
            <button class="tab-item-button" (click)="selectTab(0)" [ngClass]="{'tab-item-button-selected': tabSelected == 0}">
                Edit Book
            </button>
        </li>
        <li class="tab-item">
            <button class="tab-item-button" (click)="selectTab(1)" [ngClass]="{'tab-item-button-selected': tabSelected == 1}">
                Edit Author
            </button>
        </li>
        <li class="tab-item">
            <button class="tab-item-button" (click)="selectTab(2)" [ngClass]="{'tab-item-button-selected': tabSelected == 2}">
                Edit Category
            </button>
        </li>
    </ul>
</div>
<div class="row p-0 m-0 edit-book-main" *ngIf="tabSelected == 0">
    <app-dashboard-edit-book class="edit-book-component"></app-dashboard-edit-book>
</div>
<div class="row p-0 m-0 edit-author-main" *ngIf="tabSelected == 1">
    <app-dashboard-edit-author class="edit-author-component"></app-dashboard-edit-author>
</div>
<div class="row p-0 m-0 edit-category-main" *ngIf="tabSelected == 2">
    <app-dashboard-edit-category class="edit-category-component"></app-dashboard-edit-category>
</div>