.footer-logo {
  height: 150px;
}
.footer-left {
  font-family: DidactGothic;
  color: #707070;
  font-size: 1rem;
}
.footer-main {
  padding-bottom: 50px !important;
  background-color: #ffffff;
}
.footer-lefttwo {
  padding-left: 25px !important;
  border-left: 1px solid grey;
}
.footer-navsone {
  color: #707070;
  font-size: 30px;
  font-family: DidactGothic;
  padding-bottom: 18px;
}
.footer-navstwo {
  color: #707070;
  font-family: DidactGothic;
  font-size: 1rem;
}
.footer-right-firstmain {
  border-left: 1px solid grey;
  padding-left: 25px !important;
}
.footer-right-firstone {
  font-size: 30px;
  color: #707070;
  font-family: DidactGothic;
  padding-bottom: 18px;
}
.footer-right-firsttwo {
  font-size: 1rem;
  color: #707070;
}
.foooter-socialmedia {
  display: flex;
  align-items: center;
  border-left: 1px solid grey;
}
.media-icon-facebook {
  padding-left: 25px !important;
  font-size: 69px;
}
.media-icon-whatsapp {
  padding-left: 10px;
  font-size: 69px;
}
@media (max-width: 992px) {
  .footer-logo {
    height: 100px;
  }
  .footer-left {
    font-size: 0.8rem;
  }
  .footer-navstwo {
    font-size: 0.8rem;
  }
  .footer-right-firsttwo {
    font-size: 0.8rem;
  }
  .footer-lefttwo {
    padding-left: 15px !important;
  }
  .footer-right-firstmain {
    padding-left: 15px !important;
  }
  .media-icon-facebook {
    padding-left: 15px !important;
  }
}
@media (max-width: 768px) {
  .footer-logo {
    height: 80px;
  }
  .footer-left {
    font-size: 0.6rem;
  }
  .footer-navstwo {
    font-size: 0.6rem;
  }
  .footer-right-firsttwo {
    font-size: 0.6rem;
  }
  .footer-navsone {
    font-size: 1rem;
    font-weight: 800;
  }
  .footer-right-firstone {
    font-size: 1rem;
    font-weight: 800;
  }
  .media-icon-facebook {
    font-size: 50px;
  }
  .media-icon-whatsapp {
    font-size: 50px;
  }
}
@media (max-width: 576px) {
  .footer-left {
    margin: auto !important;
  }
  .footer-lefttwo {
    padding-left: 0px !important;
    border: 0px !important;
    padding-top: 10px !important;
  }
  .footer-right-firstmain {
    padding-left: 0px !important;
    border: 0px !important;
    padding-top: 10px !important;
  }
  .foooter-socialmedia {
    padding-left: 0px !important;
    border: 0px !important;
    padding-top: 10px !important;
  }
  .media-icon-facebook {
    padding: 0px !important;
  }
}
