
<div class="row p-0 m-0 footer-main">
    <div class=" custom-container">
        <div class="col-12 row p-0 m-0">
            <div class="col-6 row p-0 m-0">
                <div class="col-7 p-0 m-0">
                    <img src="assets/img/logosec.PNG" class="footer-logo" alt="logo image">
                    <div class="footer-left">© 2019 Samatha Books</div>
                </div>
                <div class="col-5 p-0 m-0">
                    Sitemap
                </div>
            </div>
        </div>
    </div>
</div>