<div class="row p-0 m-0 footer-main">
    <div class="custom-container">
        <div class="col-12 row p-0 m-0 footer-main-row">
            <div class="col-12 col-sm-3 p-0 m-0 row header-img-res">
                <img src="assets/img/logosec.PNG" class="footer-logo " alt="logo image">
                <div class="footer-left ">© 2019 Samatha Books</div>
            </div>
            <!-- <div class="col-12 res-footer-left">© 2019 Samatha Books</div> -->
            <div class="col-12 col-sm-3 p-0 m-0 footer-lefttwo">
                <div class="footer-navsone">
                    Sitemap
                </div>
                <div class="footer-navstwo row p-0 m-0">
                    <ul class="p-0 m-0">
                        <li class="nav-item-link" (click)="reRoute('user/home')">Home</li>
                        <li class="nav-item-link" (click)="reRoute('user/about')">About</li>
                        <li class="nav-item-link" (click)="reRoute('user/contact')">Contact</li>
                        <li class="nav-item-link" (click)="reRoute('user/bookstore')">Bookstore</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-3 p-0 m-0 footer-right-firstmain">
                <div class="footer-right-firstone">
                    Address
                </div>
                <div class="footer-right-firsttwo">
                    Samatha Book<br>
                    Pratheeksha House,<br>
                    Pannimkulangara Lane,<br>
                    Ayyanthole, Thrissur - 03<br>
                    Kerala, India<br>
                    Ph - 0487 2366868<br>
                    Mob - +91
                     9447771946<br>
                </div>
            </div>
            <div class="col-12 col-sm-3 p-0 m-0 foooter-socialmedia">
                <fa-icon class="media-icon-facebook" [icon]="faFacebook" (click) ="goToUrl('https://www.facebook.com/SAMATHABOOKS/')"></fa-icon>
                <fa-icon class="media-icon-whatsapp" [icon]="faWhatsapp"(click) = "number('9447771946')"></fa-icon>
            </div>
        </div>
    </div>
</div>