.book-page-main {
  margin-bottom: 100px !important;
}
.book-page-left-main {
  padding-right: 10px !important;
  width: 100%;
}
.book-page-left-card {
  height: 100%;
  //padding-right: 20px !important;
  // padding: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.book-img {
  height: auto;
  padding: 10px;
}
.book-page-right-card {
  padding: 20px 80px !important;
  width: 100%;
}
// .book-page-right-main {

// }
.book-page-title {
  font-family: DidactGothic;
  font-size: 20px;
  color: rgba(128, 128, 128, 0.76);
}
.book-page-price {
  font-family: DidactGothic;
  font-size: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.76);
  color: rgba(128, 128, 128, 0.76);
}
.book-page-author {
  font-family: DidactGothic;
  font-size: 17px;
  color: rgba(128, 128, 128, 0.76);
}
.book-page-category {
  font-family: DidactGothic;
  font-size: 17px;
  color: rgba(128, 128, 128, 0.76);
}
.book-page-language {
  font-family: DidactGothic;
  font-size: 17px;
  color: rgba(128, 128, 128, 0.76);
}
.book-page-edition {
  font-family: DidactGothic;
  font-size: 17px;
  color: rgba(128, 128, 128, 0.76);
  border-bottom: 1px solid rgba(128, 128, 128, 0.76);
}
.book-page-publisher {
  font-family: DidactGothic;
  font-size: 17px;
  color: rgba(128, 128, 128, 0.76);
  border-bottom: 1px solid rgba(128, 128, 128, 0.76);
}
.book-page-about-heading {
  font-family: DidactGothic;
  color: rgba(128, 128, 128, 0.76);
  font-size: 17px;
  margin-top: 30px !important;
}
.book-page-about-content {
  font-family: DidactGothic;
  font-size: 15px;
  color: rgba(128, 128, 128, 0.76);
}
@media (max-width: 992px) {
  .book-page-res {
    display: flex;
    justify-content: center;
  }
  .book-page-left-main {
    margin-bottom: 50px !important;
  }
  .book-page-right-card {
    padding: 17px 60px !important;
  }
}
@media (max-width: 768px) {
  .book-page-title {
    font-size: 18px;
  }
  .book-page-about-heading {
    font-size: 18px;
  }
  .book-page-edition {
    font-size: 16px;
  }
  .book-page-author {
    font-size: 16px;
  }
  .book-page-price {
    font-size: 18px;
  }
  .book-page-right-card {
    padding: 15px 40px !important;
  }
}
@media (max-width: 576px) {
  .book-page-title {
    font-size: 15px;
  }
  .book-page-about-heading {
    font-size: 16px;
  }
  .book-page-edition {
    font-size: 13px;
  }
  
  .book-page-author {
    font-size: 13px;
  }
  .book-page-price {
    font-size: 16px;
  }
  .book-page-right-card {
    padding: 10px 15px !important;
  }
}
