<div class="row p-0 m-0 version-main">
    <div class="custom-container">
        <div class="col-12 p-0 m-0 custom-card version-card">
            <div class="row p-0 m-0 heading">
                Version Page
            </div>
            <div class="row p-0 m-0 content">
                V0.1.4
            </div>
            <div class="row p-0 m-0 heading">
                Credit
            </div>
            <div class="row p-0 m-0 content">
                made with <fa-icon [icon]='faHeart' class="heart"> </fa-icon> by TeamAngularDevelopers
            </div>
        </div>
    </div>
</div>