.version-card {
  height: 600px;
  border-radius: 6px;
  box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-top: 28px !important;
}
.heading {
  text-shadow: 0 4px 17px rgba(0, 0, 0, 0.16);
  font-family: DidactGothic;
  font-size: 50px;
  color: #34e7e4;
  margin-bottom: 20px !important;
  margin-left: 75px !important;
}
.content {
  text-shadow: 0 4px 17px rgba(0, 0, 0, 0.16);
  font-family: DidactGothic;
  font-size: 30px;
  color: #34e7e4;
  margin-bottom: 20px !important;
  margin-left: 75px !important;
}
.heart {
  color: red;
}
@media (max-width: 720px) {
  .heading {
    margin-left: 50px !important;
    font-size: 25px;
  }
  .content {
    margin-left: 50px !important;
    font-size: 15px;
  }
}
