.card-main {
  width: 100%;
  height: 100%;
}
.card-main:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.book-img {
  height: auto;
}
.card-content {
  padding-top: 10px !important;
}
.card-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // padding: 25px !important;
  padding: 10px 0px !important;
}
.card-content-text-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.title {
  font-size: 0.7rem;
  word-break: break-all;
}
.author {
  font-size: 1rem;
}
@media (max-width: 400px) {
  .book-img {
    height: auto !important;
  }
}
