<div class="row p-0 m-0 custom-card crad-main">
    <div class="row p-0 m-0 card-content-wrapper">
        <img src="{{imagePath}}" class="book-img">
        <div class="row p-0 m-0 card-content">
            <div class="row p-0 m-0 title card-content-text-wrapper">
                {{title}}
            </div>
            <div class="author row p-0 m-0 card-content-text-wrapper">
                {{author}}
            </div>
            <div class="price row p-0 m-0 card-content-text-wrapper">
                {{price}}
            </div>
        </div>
    </div>
</div>