.category-slider-main {
  width: 100%;
  margin-bottom: 50px !important;
}
.slider-card-main {
  width: 100%;
  padding: 12px !important;
}
.card-icon {
  font-size: 55px;
}
.icon-name {
  font-size: 15px;
}
.item {
  margin: 0 auto !important;
  text-align: center;
  transition: all 0.25s cubic-bezier(0.37, 0.31, 0.2, 0.85);
}
.item:hover {
  color: #34e7e4;
  cursor: pointer;
}
@media (max-width: 992px) {
  .card-icon {
    font-size: 40px !important;
  }
  .icon-name{
    font-size: 10px !important;
  }
}
