<div class="row p-0 m-0  category-slider-main">
    <div class="custom-card slider-card-main">
        <div class="col-12 row p-0 m-0">
            <div class="col-2 p-0 m-0"></div>
            <div class="col-1 p-0 m-0">
                <fa-icon class="card-icon" [icon]="faPenNib"></fa-icon>
                <div class="icon-name">Autobiography</div>
            </div>
            <div class="col-1 p-0 m-0">
                <fa-icon class="card-icon" [icon]="faPlayCircle"></fa-icon>
                <div class="icon-name">Memories</div>
            </div>
            <div class="col-1 p-0 m-0">
                <fa-icon class="card-icon" [icon]="handHoldingHeart"></fa-icon>
                <div class="icon-name">Life sketches</div>
            </div>
            <div class="col-1 p-0 m-0">
                <fa-icon class="card-icon" [icon]="faUserGraduate"></fa-icon>
                <div class="icon-name">Study & history</div>
            </div>
            <div class="col-1 p-0 m-0">
                <fa-icon class="card-icon" [icon]="faBookReader"></fa-icon>
                <div class="icon-name">Short stories & novels</div>
            </div>
            <div class="col-1 p-0 m-0">
                <fa-icon class="card-icon" [icon]="faIdBadge"></fa-icon>
                <div class="icon-name">Uncategorised</div>
            </div>
            <div class="col-1 p-0 m-0">
                <fa-icon class="card-icon" [icon]="faChild"></fa-icon>
                <div class="icon-name">Children's library</div>
            </div>
            <div class="col-1 p-0 m-0">
                <fa-icon class="card-icon" [icon]="faMusic"></fa-icon>
                <div class="icon-name">Songs</div>
            </div>
        </div>
    </div>
</div>