<div class="row p-0 m-0 category-slider-main">
    <div class=" slider-card-main">
        <div class="col-12 row p-0 m-0">
            <ng-container *ngIf="categoryList.length != 0">
                <div *ngFor="let category of categoryList" (click)="routeCategory(category['oid'])" class="item p-0 m-0">
                    <fa-icon *ngIf="category['itemName'] == 'Memories'" class="card-icon" [icon]="faPlayCircle"></fa-icon>
                    <fa-icon *ngIf="category['itemName'] == 'Autobiography'" class="card-icon" [icon]="faPenNib"></fa-icon>
                    <fa-icon *ngIf="category['itemName'] == 'Life sketches'" class="card-icon" [icon]="handHoldingHeart"></fa-icon>
                    <fa-icon *ngIf="category['itemName'] == 'Study & history'" class="card-icon" [icon]="faUserGraduate"></fa-icon>
                    <fa-icon *ngIf="category['itemName'] == 'Short stories & novels'" class="card-icon" [icon]="faBookReader"></fa-icon>
                    <fa-icon *ngIf="category['itemName'] == 'Uncategorised'" class="card-icon" [icon]="faIdBadge"></fa-icon>
                    <fa-icon *ngIf="category['itemName'] == 'Children\'s library'" class="card-icon" [icon]="faChild"></fa-icon>
                    <fa-icon *ngIf="category['itemName'] == 'Songs'" class="card-icon" [icon]="faMusic"></fa-icon>
                    <div class="icon-name">{{category['itemName']}}</div>
                </div>
            </ng-container>
        </div>
    </div>
</div>